<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<%= session[:omniauth].photo_location %>
<%= session[:omniauth].name %>
  <div class="form-inputs">
    <% if session[:omniauth] %>
    <%= f.hidden_field :photo_location, :value => session[:omniauth].photo_location.sub("_normal", "").to_s %>
    <%= f.hidden_field :name, :value => session[:omniauth].name %>
    <% end %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <% if @user.password_required? %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
