<% if comment.content %>
<div class="row">
  <div class="panel radius">
    <div class="row">
      <% if comment.user %>
      <div class = "small-3 columns large-1 medium-1 small-2">
        
        <%= link_to image_tag("#{comment.user.photo_location}"), comment.user %>
        
      </div>
      <small><%= link_to comment.user.name, comment.user %></small>
      <% else %>
      <small> User Deleted</small>
      <% end %>
      
      <small><%= comment.created_at %></small>
      <div class = "row">
        <div claas = "small-12 columns">
          <% if comment.user == current_user %>
          <%= best_in_place comment, :content, :type => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %>
          <% else %>
          <%= raw comment.content %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>