<div class="medium-6 columns">
  <h2>Following</h2>
  
  <% @followed.each do |friendship| %>
  <div class="medium-4 columns">
  <%= link_to image_tag("#{friendship.friend.photo_location}"), friendship.friend, :class => "th" %>
  </div>
  <h5><%= link_to friendship.friend.name, friendship.friend %></h5>
  <%= link_to "remove", friendship, :class => "button tiny", :method => :delete, :remote => true %>
  
  <% end %>
  
</div>

<div class="medium-6 columns">
  <h2>Followers</h2>
  
  <% @followers.each do |ifriendship| %>
  <div class="medium-4 columns">
  <%= link_to image_tag("#{ifriendship.user.photo_location}"), ifriendship.user %>
  </div>
  <h5><%= link_to ifriendship.user.name, ifriendship.user %></h5>
  <% if @followed.include?(ifriendship) %>
  <%= link_to "remove", ifriendship, :class => "button tiny", :method => :delete, :remote => true %>
  <% else %>
  <%= link_to "Add Friend", friendships_path(:friend_id => ifriendship),:class => "button tiny", :method => :post, remote: true %>
  <% end %>
  
  <% end %>
  
</div>