<div class="row">
  <div class="medium-12 columns">
    <div class="row panel large-5 small-5 columns small-centered large-centered">
      <div class="row">
        <div class="medium-5 columns">
          <%=image_tag("#{@user.photo_location}")%>
        </div>
        <div class="medium-6 columns">
          <h1><%= @user.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="small-5 small-offset-4 columns">
          <% if user_signed_in? && current_user.friends.include?(@user) %>
          <% current_user.friendships.where(friend_id: @user.id).each do |friendship| %>
          <%= link_to "Unfollow", friendship, :class => "button right alert", :method => :delete, remote: true, :id => "user_unfollow_button" %>
          <% end %>
          <% elsif user_signed_in? && @user != current_user %>
          <%= link_to "Follow", friendships_path(:friend_id => @user),:class => "button right", :method => :post, remote: true, :id => "user_follow_button#{@user.id}" %>
          <% else %>
          <% end %>
        </div>
        
      </div>
    </div>
    <div class = "row">
      <div class="medium-12 columns">
        <% if user_signed_in? && @user == current_user %>
        <%= render "my_followers" %>
        <% else %>
        <%= render "user_followers" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
