<% @all_posts.each do |post| %>
<div class= "custom-panel small-12 columns">
  <div class="row">
    <div class= "small-12 columns">
      <div class = "row">
        <div class = "small-4 small-offset-7 columns hide-for-medium-up">
          <small><%= link_to "#{post.comments.count} comments", post %> </small>
        </div>
      </div>
      <div class="row">
        <div class = "small-2 columns large-1 small-2">
          <% unless post.user.nil? %>
          <%= link_to image_tag("#{post.user.photo_location}"), post.user %>
          <small><%= link_to post.user.name, post.user %></small>
          <% end %>
        </div>
        <div class = "small-10 columns large-11 small-10">
          <div class = "row">
            <div class = "small-12 columns hide-for-large-only">
              <medium><%= link_to post.title.html_safe, post.url, :target => "_blank" %></medium>
              <% if user_signed_in? && (current_user.has_role? :admin) %>
              <%= link_to "&#215;".html_safe, post, :confirm => 'Are you sure?',:class => "right",  :method => :delete, remote: true %>
              <% end %>
            </div>
            <div class = "large-12 columns hide-for-medium-down">
              <%= link_to post.title.html_safe, post.url, :target => "_blank" %>
              <% if user_signed_in? && (current_user.has_role? :admin) %>
              <%= link_to "&#215;".html_safe, post, :confirm => 'Are you sure?',:class => "right", :method => :delete, remote: true %>
              <% end %>
            </div>
          </div>
          &nbsp;
          <div class='row'>
            <div class = 'small-12 small-left columns large-4'>
              <a href="#" data-reveal-id="<%=dom_id(post)%>">Summary</a> | 
              <% if user_signed_in? %>
              <% if current_user.reposted_posts.include?(post) %>
              <span class="secondary label">Reposted</span>
              <% elsif current_user.posts.include?(post) %>
              <% else %>
              <%= link_to "Repost", reposts_path(:reposted_post_id => post), :method => :post, remote: true, :id => "#{post.id}" %>
              <span style="display: none;" <%= ("id='repost-badge#{post.id}'").html_safe %> class="secondary label">Reposted</span>
              <% end %>
              <% else %>
              <%= link_to "Repost", new_user_registration_path%>
              <% end %>
            </div>
            <div class="large-2 columns hide-for-small-only">
              <small><%= link_to "#{post.comments.count} comments", post %> </small>
            </div>
            <div class="large-6 columns hide-for-small-only">
              
              <ul class="small-block-grid-6">
                <% if user_signed_in? %>
                <% current_user.friends.where('friend_id IN (:comments_user_ids)', {comments_user_ids: post.comments.map(&:user_id)}).uniq.take(8).each do |user| %>
                <li><%= image_tag("#{user.photo_location}") %></li>
                <% end %>
                <% else %>
                <% User.all.where('id IN (:comments_user_ids)', {comments_user_ids: post.comments.map(&:user_id)}).uniq.take(8).each do |user| %>
                <li><%= image_tag("#{user.photo_location}") %></li>
                <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="<%=dom_id(post)%>" class="reveal-modal expand-modal" data-reveal>
  <h2><%= post.title.html_safe %></h2>
  <ul>
    <% unless post.summary.nil? %>
    <% post.summary.split("[BREAK]").each do |sentence| %>
    <%= simple_format(sentence.html_safe) %>
    <% end %>
    <% end %>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
  
</div>


<% end %>