<% if user_signed_in? %>
<% if current_user.friends.count > 0 %>
<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">My Feed</a></dd>
  <dd><a href="#panel2-2">FireHose Feed</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <%= render 'posts/my_feed' %>
  </div>
  <div class="content" id="panel2-2">
    <%= render 'posts/all_feed' %>
  </div>
</div>
<% else %>
<dl class="tabs" data-tab>
  <dd><a href="#panel2-1">My Feed</a></dd>
  <dd class="active"><a href="#panel2-2">FireHose Feed</a></dd>
</dl>
<div class="tabs-content">
    <div class="content" id="panel2-1">
    <%= render 'posts/my_feed' %>
  </div>
  <div class="content active" id="panel2-2">
    <%= render 'posts/all_feed' %>
  </div>
</div>
<% end %>



<% else %>
<%= render 'posts/all_feed' %>
<% end %>




