<% if user_signed_in? %>
<% if current_user.friends.count > 0 %>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">My Feed</a></dd>
  <dd><a href="#panel2-2">FireHose Feed</a></dd>
</dl>
<%= link_to 'New Post', new_post_path, class: "button tiny round", id: "new_link", remote: true, style: "margin-bottom: 0px;" %>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <%= render 'posts/my_feed' %>
  </div>
  <div class="content" id="panel2-2">
    <%= render 'posts/all_feed' %>
  </div>
</div>
<% else %>
<dl class="tabs" data-tab>
  <dd><a href="#panel2-1">My Feed</a></dd>
  <dd class="active"><a href="#panel2-2">FireHose Feed</a></dd>
</dl>
<%= link_to 'New Post', new_post_path, class: "button tiny round", id: "new_link", remote: true %>
<div class="tabs-content">
    <div class="content" id="panel2-1">
    <%= render 'posts/my_feed' %>
  </div>
  <div class="content active" id="panel2-2">
    <%= render 'posts/all_feed' %>
  </div>
</div>
<% end %>


<% else %>
<div data-alert class="alert-box info radius">
  <h1>Welcome to wefeed</h1>  
    <p>This is a better content discovery network. You can follow likeminded people,
  read summaries before clicking on unknown links, and we keep things nice and 
      organized with <a href="http://blog.wefeed.co/canonical-posts" target="_blank">Conanical Posts</a> and comments.</p>
  <p>What have you read lately that made you think? <%= link_to 'Log in', new_user_registration_path%> and let us know.</p>
  <a href="#" class="close">&times;</a>
</div>
<%= link_to 'New Post', new_user_registration_path, class: "button tiny round" %>
<%= render 'posts/all_feed' %>
<% end %>




