<div class="large-6 columns">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>User:</strong>
    <%= @post.user_id %>
  </p>
  
  <p>
    <strong>Url:</strong>
    <%= @post.url %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>

<% @post.comments.each do |comment| %>
  <p>
    <strong>Post:</strong>
    <%= comment.content.html_safe %>
  </p>
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
    <%= f.hidden_field :post_id, :value => @post.id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>