<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "wefeed" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <%= render 'layouts/navigation' %>
        <main role="main">
          <section class="main-section">
            <!-- End Header and Nav -->
            <div class="row">
              <div class="small-12 large-9 columns">
                <% unless user_signed_in? %>
                <%= render "devise/shared/omnilinks" %>
                <% end %>
                <%= yield %>
                <%= javascript_include_tag "application" %>
              </div>
              <!-- On small devices this column is hidden -->
              <aside class="large-3 columns hide-for-small">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Wefeed Sidebar -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-5502427378583818"
                     data-ad-slot="1261123205"></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </aside>
            </div>
          </section>
        </main>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>
